<div class="flex flex-col items-center justify-center h-screen">
    <% @parking_spots.each do |spot| %>
        <div>
            <p>
                <strong><%= spot.name %></strong><br>
                <%= spot.address %>
            </p>
        </div>
    <% end %>
</div>
